<div class="container py-5 w-100">
  <div class="row">
    <h3>Create your movie listing</h3>
    <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.submit class: 'btn btn-info w-100 mt-3'%>
    <% end %>
  </div>
</div>
</div>
